In [4]:
# Рисовать графики сразу же
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("budgetdata.csv",sep=";",encoding="cp1251")
df[2438:2445]

,facialacc_cls,budget,kvsr,kfsr,kcsr,kvr,kesr,subkesr,meanstype,summa
2438,840010010,152,940,503,Ж100020000,244,225,1002000,10004,859198.89
2439,114010010,146,914,1006,9900075180,121,211,2001106,10004,33824400.00
2440,114010010,146,914,1006,9900075180,129,213,2001106,10004,10214900.00
2441,114010010,146,914,1006,9900075180,244,221,2001106,10004,400800.00
2442,114010010,146,914,1006,9900075180,244,223,2001106,10004,714600.00
2443,114010010,146,914,1006,9900075180,244,225,2001106,10004,439000.00
2444,114010010,146,914,1006,9900075180,244,226,2001106,10004,293000.00